html{
    --div-box-height:40px;
    --div-box-width:40px;
    --div-box-small:47px;/**39*/
}
body{
    display: flex;
    padding: 0;
}
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 100px;
    width: 800px;
    border: black solid 1px;
}
button{
    height:var(--div-box-height) ;
    width: var(--div-box-width);
}
.grid > div {
    flex: 1 1 40px 40px;
    background-color: black;

}
.hovering {
    background-color: black;
}